//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #333;
$white-color: #ffffff;
$grey-color: #f1f1f1;
$black-color: #191919;
$transparent-bg : transparent;
$dark-color : #1a2035;
$dark2-color : #1f283e;
$primary-color : #1476FF;
$primary2-color : #1045CC;
$secondary-color : #29276b;
$secondary2-color : #303350;
// 89c236
$info-color : #1476ff;
$info2-color : #1476ff;
$success-color : #05c168;
$success2-color : #05c168;
$warning-color : #ff9e2c;
$warning2-color : #ff9e2c;
$danger-color : #ff5a65;
$danger2-color : #ff5a65;

// Font Weight
$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-bold : 600;
$font-weight-extrabold : 700;