<!doctype html>
<html lang="en">
  <head>
    <title>{{ pageTitle}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/millenium.css">
    <script src="./js/shim.js"></script>
  </head>
  <body class="login">
    
    {{{body}}}
    
    <script src="./js/core/jquery.3.2.1.min.js"></script>
    <script src="./js/core/popper.min.js"></script>
    <script src="./js/core/bootstrap.min.js"></script>
    <script src="./js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- jQuery UI -->
    <script src="./js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="./js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>


    

    <script src="./js/millenium.min.js"></script>
    
    {{{_sections.script}}}
  

  </body>
</html>